<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="./../../public/css/style.css">
</head>

<body>
    <!----header-->
    <div id="heading">
        <h3>Product Management System</h3>
    </div>

    <ul>
        <li><a class=" active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>

    <!-- main site -->

    <main id="site-main">
        <div class="container">
            <div class="box-navdevflex-justify-between">
                <h3>Register</h3>
            </div>
        </div>
    </main>
    <!-- maine site end -->

    <!-- form handling -->
    <form method="POST" id="register">
        <div id="table-border">
            <table align="center">
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input type="text" id="name" name='name' placeholder="vipin anand" /></td>
                </tr>
                <tr>
                    <td> <label for="name">Contact</label></td>
                    <td><input type="number" id="contact" name='contact' placeholder="+91987456123" /></td>
                </tr>
                <tr>
                    <td><label for="name">email</label></td>
                    <td> <input type="email" id="email" name='email' placeholder="abcd@xyz.com" /></td>
                </tr>
                <tr>
                    <td><label for="name">Username</label></td>
                    <td> <input type="text" id="username" name='username' placeholder="vipinanand" /></td>
                </tr>
                <tr>
                    <td><label for="name">Password</label></td>
                    <td> <input type="password" id="password" name='password' placeholder="*********" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" /></td>

                </tr>


            </table>


        </div>


    </form>
    <!-- /form handling -->

</body>

</html>